{% extends 'base.html' %}
{% load static %}
{% block title %}
    All my posts
{% endblock%}

{% block css_files %}
    <link rel='stylesheet' href={% static 'my_blog/post.css' %}/>
    <link rel='stylesheet' href={% static "my_blog/all-posts.css" %} />
{% endblock %}

{% block content %}
<section id='all-posts'> 
    <h2>All Movies</h2>
    <ul>
        {% for post in all_posts %}
            {% include "my_blog/includes/post.html" %}
        {% endfor %}
        
    </ul>
</section>
{% endblock %}